*{
	padding: 0; margin: 0; box-sizing: border-box;
}

body{
	position: relative;
	height: auto;
	padding-bottom: 150px;
	min-height: 100vh;
	background: rgb(250 250 250);
	margin: auto;
	text-align: center;
}
.primero{
	width: 100%;
	height: 3px;
	background: #4682b4;
}
/*buscador*/


/*LOGO*/
#cabeza {
	width: 100%; max-height: 200px; min-height: 150px;
	background-color: #001A57;

	margin-top: 0px;
}
/*LOGO*/
.logo{
	position: absolute;
	width: 100px;
	top:25px;
	left: 20px;
	padding: 10px;
	border-left: 2px solid rgb(255 255 255);
	border-right: 2px solid rgb(255 255 255);
	border-radius: 50%;
}
.logo:hover{

	transform: rotate(-60deg) ;
	border-radius: 50%;
	transition: 1s linear .1s ;
}
#cabeza > p{
	color: rgb(255, 255, 255);
	font-family: fantasy;
	letter-spacing: 10px;
	margin-left: -750px;
	margin-top:10px;
	display: inline-block;
	font-size: 100px;
	border-bottom: 1px solid;

}

#cabeza > p:hover{
	font-size: 98px;
}



/*MENU*/
#menu{
	width: 100%; min-height: 20px;
	background: #4682b4;
	margin: 0 0 80px 0;
}

#menu > div{
	width: 60px; height: auto;
	display: inline-block;
	margin: 5.5px 100px 0 100px;
	padding: 5px 0 7px 0;
}

#menu div > a{
	padding: 10px 10px 7.5px 10px;
	color: rgb(255 255 255);
	text-decoration: none;
	letter-spacing: 2px;
}
#menu div > a:hover{
	background: rgb(164 163 170);
	color: rgb(0, 0, 0);
	transition: .5s linear .1s;
}

/*PRODUCTOS INICIO*/

#productosR{
	background: rgb(227, 234, 254);
	padding: 10px;
	width: 100%;
	border-radius: .5%;
	height: auto;
	margin: auto;
}
#productosR > div{
	background: rgb(255 255 255);
	margin: 10px 7px 10px 7px;
	display: inline-block;
	width: 310px; height: 390px;
	border: 0px solid;
	border-radius: 5%;
}
#productosR > div:hover{
	color: rgb(0, 0, 0);
	box-shadow: 0 10px 7px rgba(0,0,0, 0.5);
	transition: color 0.8s linear 0.2s;
	transform: translate(0, -5px);
}

#productosR div > img{
	width: 200px;
	padding-top: 25px;
	padding-bottom:60px;
	
}

#productosR div > p{
	letter-spacing: 1px;
	border-top:1px solid rgb(227 222 222);
	margin-bottom: 15px;
}
#precio{
padding: 9px 2px 0 0;
width: 98%;
margin: auto;
font-size: 25px;
font-family: sans-serif;
color: rgb(0, 0, 0);
}
.comprar{
	text-decoration: none;
	color: rgb(0, 0, 0);
	letter-spacing: 9px;
	border-radius: 5.5%;
	padding: 0 10px 0 10px;
	margin: auto ;
	padding: 5px;
	background:rgb(175	228	222	);

	font-size: 18px;
	box-shadow: .3px 5px 3px rgba(0,0,0, 0.5);
}
.comprar:hover{
	padding: 7px;
	border: .5px solid rgb(29	172	214);

}

/*MUESTRA*/

.slider{
	border-radius: 1%;
	margin: 20px auto;
	background: #91A3B0;
	width: 100%; height: 300px;
	overflow: hidden;

}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	 width: auto;
	 max-height:300px;
	
}

@keyframes cambio{
	0% {margin-left: 0%;}
	20% {margin-left: 0%;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}


	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



/*FOOTER*/

.pies{
	border-top: 1px solid grey;
	width: 100%; height: 500px;
	background: rgb(0, 0, 0);
	position: absolute;
	top: 110%;
	bottom: 0;
}
.pies{/*grid*/
	color: red;
	display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
	 grid-gap: 50px;
}
.pies div{
	overflow: hidden;
	padding-top: 20px;
	margin: 0 15px 0 15px;
	margin-top: 30px;
	border-bottom: 2px solid rgb(255 255 255);
}
