*{
	padding: 0; margin: 0; box-sizing: border-box;
}

body{
	
	position: relative;
	height: auto;
	padding-bottom: 150px;
	max-height: 10000px;
	background: #EDF5F3;
	margin: auto;
	text-align: center;
}
.primero{
	width: 100%;
	height: 3px;
	background: #4682b4;
}
/*buscador*/


/*LOGO*/
#cabeza {
	width: 100%; max-height: 200px; min-height: 150px;
	background-color: #454EFF;

	margin-top: 0px;
}
/*LOGO*/

#cabeza > p{
	color:#000000;
	font-family: fantasy;
	letter-spacing: 10px;
	margin-left: -950px;
	margin-top:10px;
	display: inline-block;
	font-size: 100px;
	border-bottom: 1px solid;

}

#cabeza > p:hover{
	font-size: 98px;
}
/*BUSCADOR*/
.buscador{
	position: absolute;
	top: 107px;
	left: 30%;
}
#q{
	width: 70px; height: 30px;
}
#text{
	width: 300px; height: 30px;
}

/*MENU*/
#menu{
	border-top: 1px solid #ffffff;
	width: 100%; min-height: 20px;
	background: #4682b4;
	margin: 0 0 50px 0;
}

#menu > div{
	width: 60px; height: auto;
	display: inline-block;
	margin: 5.5px 100px 0 100px;
	padding: 5px 0 7px 0;
}

#menu div > a{
	padding: 11px 10px 8px 10px;
	color: rgb(255 255 255);
	text-decoration: none;
	letter-spacing: 2px;
}
#menu div > a:hover{
	background: #DAF4F4;
	color: rgb(0, 0, 0);
	transition: .2s ease-in-out ;
}

/*PRODUCTOS INICIO*/


#productosR h2{
	text-align: left;
	margin: 0 0px 10px 20px;
	color: #2B2C2B;
	font-size: 30px;
	font-family: arial;
	letter-spacing: 5px;
}

#productosR{
	
	padding: 10px;
	border-radius: .5%;
	height: auto;
	margin: auto;
}
#productosR > div{
	background: #ffffff;
	margin: 10px 7px 10px 7px;
	display: inline-block;
	min-width: 310px; height: 390px;
	border: 2px solid #F2EFEF;
	border-radius: 5%;
}
#productosR > div:hover{
	color: rgb(0, 0, 0);
	box-shadow: 0 10px 7px rgba(0,0,0, 0.5);
	transform: translate(0, -5px);
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

#productosR div > img{
	width: 280px; height: auto;
	padding-top: 0px;
	padding-bottom:10px;
	border-bottom: 1px solid rgb(227 222 222);
	
}

#productosR div > p{
	letter-spacing: 1px;
	margin-bottom: 15px;
}
#precio{
padding: 9px 2px 0 0;
width: 90%;
text-align: left;
margin-left: 20px;
font-size: 18px;
font-family: mosk;
}


#producto{
	
	border: solid;
}
.comprar{
	text-decoration: none;
	color: rgb(0, 0, 0);
	letter-spacing: 5px;
	border-radius:10px ;
	background: #F0F3F3;
	margin: auto ;
	padding: 12px 90px 12px 90px;
	font-size: 13px;
	
	
}
.comprar:hover{
	background-color: #C8DABC;
}


/*MUESTRA*/

.slider{
	border-radius: 1%;
	margin: 20px auto;
	background: #91A3B0;
	width: 100%; height: 300px;
	overflow: hidden;

}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	 width: auto;
	 max-height:300px;
	
}

@keyframes cambio{
	0% {margin-left: 0%;}
	20% {margin-left: 0%;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}


	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



/*FOOTER*/

.pies{
	border-top: 1px solid grey;
	width: 100%; height: 500px;
	background: #020518;
	position: absolute;
	top: 110%;
	bottom: 0;

}
.pies{/*grid*/
	color: #ffffff;
	display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
	 grid-gap: 50px;
}

.pies > .redes, .texto, .contacto{

	height: 350px;
	padding: 10px 15px 0 0;
	margin-top: 30px;
}
.pies h3{
	font-size: 30px;
}
.texto{
border-right: 1px solid;
}

.redes{
border-right: 1px solid;
}

/*CODIGOS DESCUENTO*/

.fin{
	padding: 5px;
	margin: auto;
	color: #000000;
	position: absolute;
	width: 100%; height: 30px;
	top: 123%;
	bottom: 0;
}

.fin{
	border-radius: 1%;
	margin: 20px auto;
	background: #FFFB00;
	width: 100%; height: 33px;
	overflow: hidden;

}

.fin ul{
	display: flex;
	padding: 0;
	width: 400%;

	animation: rotar 50s infinite;
	animation-direction: initial, normal;
	animation-timing-function: linear;
}

.fin li{
	width: 100%;
	list-style: none;
}

.fin p{
	padding: 5px;
	 width: auto;
	 max-height:20px;
	
}

@keyframes rotar{
	from{
		margin-left: 0%;
		width: 300%;
	}

	to{
		margin-left: -100%;
		width: 100%;
	}
}



/*MEDIAS QUERRIES*/
@media screen and (max-width:1080px) and (min-width:800px){/*GRANDE*/
	#cabeza > p{
		padding-left: 10px;
		margin:auto;
		margin-left: -400px;
		font-size: 100px;
	}
	#text{
		width: 200px;
		margin-left: 200px;
	}

	#productosR > h2{
		margin-left: 100px;
	}
}

@media screen and (max-width:799px) and (min-width:672px){/*MEDIANO*/
	#cabeza > p{
		margin-left: -350px;
		font-size: 90px;
	}
	#text{
		width: 200px;
		margin-left:180px;
		margin-top: -150px;
	}
}

@media screen and (max-width:671px) and (min-width:540px){/*PEQUEÑO*/
	#cabeza > p{
		margin:10px auto;
		font-size: 50px
	}
	#text{
		width: 150px;
		margin:-10px auto;
	}
	#productosR > div{
		margin: 30px auto;
		min-width: 450px; height: 510px;
	}
	#productosR  img{
		margin-top: 60px;
		
		width: 100px;
	}
	#precio{
		margin-top: 50px;
	}
	.slider img{
		margin-top: 12.7%;
		width: auto; max-height: 200px;
	}

}


@media screen and (max-width:539px) and (min-width:250px){/*CELULARES*/

	#cabeza > p{
		margin:30px auto;
		font-size: 50px
	}
	#text{
		width: 150px;
		margin:-8px auto;
	}
	#productosR > div{
		margin: 30px auto;
		min-width: 95%; height: 510px;
	}
	#productosR  img{
		margin-top: 60px;
		
		width: 90px;
	}
	#precio{
		margin-top: 50px;
	}
	.slider img{
		margin-top: 12.7%;
		width: auto; max-height: 200px;
	}
}

